/* Hackaton2023/mdpa_2.0/src/styles/Navbar.css */

.headerNavbar {
    position: sticky;
    top: 0;
    background-color: black;
    list-style-type: none;
    padding-top: 20px;
}

.divNavbar a {
    color: rgb(73, 73, 73);
    text-decoration: none;
}

.divNavbar a:hover {
    color: blue;
    text-decoration: none;
}