/* Hackaton2023/mdpa_2.0/src/styles/Navbar.css */

.headerNavbar {
    position: sticky;
    top: 0;
    background-color: black;
    list-style-type: none;
    padding-top: 20px;
}

.divNavbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 50px;
    margin-left: 50px;
    font-size: xx-large;
}
.divNavbar a {
    color: rgb(73, 73, 73);
    text-decoration: none;
}

.divNavbar a:hover {
    color: blue;
    text-decoration: none;
}